.containter {
    text-align: start;
    background: gray;
    width: 20vw;
    
}

.remove {
    cursor: pointer;
    position: absolute;
    margin: 0 0 0.5rem 0.2rem;
    color: red;
    left: 60vw;
}

.item {
    margin: 0.2rem auto;
    cursor: pointer;
}

.itemFinished {
    margin: 0.2rem auto;
    cursor: pointer;
    text-decoration: line-through;
}